@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "highlight.js/styles/atom-one-dark.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand: #00ff96;
  --color-bg-dark: #0a0a0b;
  --color-themeblue: #0070f3;
}

@layer base {
  .prose-custom {
    /* Customize MD text :D */
    --tw-prose-invert-headings: #ffffff;
    --tw-prose-invert-body: #9ca3af;
    --tw-prose-invert-links: #00ff96;
    --tw-prose-invert-bold: #00ff96;
    --tw-prose-invert-code: #00ff96;
    --tw-prose-invert-bullets: #00ff96;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
